:root {
    --Background:  rgba(0,0,0,0.9);
    --Background3:  rgba(0,0,0,0.3);
    --Background2:  rgba(255,255,255,0.7);
    --Foreground:  rgba(255,255,255,1);
    --VeryLight: rgb(141, 217, 152);
    --Light:rgb(149,198,240);
    --Medium: rgb(232,193,54);
    --VeryDark: rgba(135, 32, 32, 0.9);
    --Dark: rgb(224,143,51);
}