@import './reset';
@import './fonts';
@import './style';

body{
    background: linear-gradient(to top,rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url('../../public/bg2.jpg');
    background-size: contain;
    background-repeat: repeat;
    color:rgb(58, 58, 58);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.Apply{
    
    
    .Main{
        min-height: 100vh;
        background-color:var(--Background2);
        padding:  30px 40px;
        position: relative;
        &-SkillsRequired{
            position: fixed;
            width: 17%;
            right: 2%;
            top: 20%;
            border: 2px solid var(--Background);
            padding: 20px;
            background: var(--Foreground);
            h1{
                font-size: 1rem;
                font-weight: 900;
            }
            .colors{
                display: flex;
                align-items: center;
                margin: 20px 0px;
                gap: 10px;
                .skillLevel{
                    font-weight: 500;
                }
                .color{
                    height: 20px;
                    width: 50px;
                    border-radius: 50px;
                    display: grid;
                    place-items: center;
                    font-weight: 600;
                    font-size: 0.7rem;
                    color: var(--Foreground);
                }
                .color1{
                    background-color: var(--VeryLight);
                    transition: none;
                    &:hover{
                        outline: 2px dotted var(--VeryLight);
                        outline-offset: 1px;
                    }
                }
                .color2{
                    background-color: var(--Light);
                    transition: none;
                    &:hover{
                        outline: 2px dotted var(--Light);
                        outline-offset: 1px;
                    }
                }
                .color3{
                    background-color: var(--Medium);
                    transition: none;
                    &:hover{
                        outline: 2px dotted var(--Medium);
                        outline-offset: 1px;
                    }
                }
                .color4{
                    background-color: var(--Dark);
                    transition: none;
                    &:hover{
                        outline: 2px dotted var(--Dark);
                        outline-offset: 1px;
                    }
                }
                .color5{
                    background-color: var(--VeryDark);
                    transition: none;
                    &:hover{
                        outline: 2px dotted var(--VeryDark);
                        outline-offset: 1px;
                    }
                }
            }
            
        }
        &-Job{
            margin: 20px 0px;
            width: 80%;
            padding: 20px;
            font-size: 1rem;
            position: relative;
            &-title{
                font-weight: 700;
                font-size: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-Apply{
                    background:linear-gradient(to left,var(--Background) 50%,var(--Foreground) 50%);
                    background-size: 300% 100%;
                    background-position: right;
                    color: var(--Foreground);
                    padding: 10px 40px;
                    border: 1px solid var(--Background);
                    font-size: 1.2rem;
                    box-shadow: 0px 0px 5px var(--Background);
                    transition: background-position 1s,color 1s;
                    font-weight: 400;
                    &:hover,&:focus{
                        cursor: pointer;
                        background-position: left;
                        color: var(--Background);
                        outline: 2px dotted var(--Background);
                        outline-offset: 2px;
                    }
                    &:disabled{
                        opacity: 0.8;
                        &:hover,&:focus{
                            cursor: disabled;
                            background-position: right;
                            color: var(--Foreground);
                            outline: 0px dotted var(--Background);
                            outline-offset: 0px;
                        }
                    }
                }
            }
            &-title-sub{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                &-posting{
                    text-align: right;
                }
            }
            &-desc{
                &-Locations{
                    margin: 30px 0px 30px 0px;
                }
                pre{
                    white-space: pre-wrap;
                    margin-bottom: 50px;
                }
            }
            &-Actions{
                margin: 20px;
                
                &-title{
                    margin: 5px 0px;
                }
                &-Main{
                    display: flex;
                    gap:50px;
                    margin-bottom: 30px;
                    flex-wrap: wrap;
                    &-Action{
                        &-Question{
                            margin: 10px 0px;
                           
                        }
                        .validation{
                            width: 100%;
                            position: relative;
                            .Main-Job-Actions-Main-Action-Answer{
                                width: 100%;
                                padding: 10px 20px;
                                &:hover,&:focus{
                                    outline: 2px dotted var(--Background);
                                    outline-offset: 1px;
                                }
                            }
                            #resumeUpload{
                                border: 1px solid rgba(0,0,0,0.4);
                            }
                            input[validation]{
                                position: relative;
                                &+span::after{
                                    content: attr(validation);
                                    position: absolute;
                                    bottom: -40%;
                                    right: 5px;
                                    color: red;
                                    font-size: 0.7rem;
                                    
                                }
                                
                            }
                        }
                        &-Answer-1{
                            border: 2px solid var(--VeryLight);
                            &:hover,&:focus{
                                outline: 2px dotted var(--VeryLight);
                                outline-offset: 1px;
                            }
                        }
                        &-Answer-2{
                            border: 2px solid var(--Light);
                            &:hover,&:focus{
                                outline: 2px dotted var(--Light);
                                outline-offset: 1px;
                            }
                        }
                        &-Answer-3{
                            border: 2px solid var(--Medium);
                            &:hover,&:focus{
                                outline: 2px dotted var(--Medium);
                                outline-offset: 1px;
                            }
                        }
                        &-Answer-4{
                            border: 2px solid var(--Dark);
                            &:hover,&:focus{
                                outline: 2px dotted var(--Dark);
                                outline-offset: 1px;
                            }
                        }
                        &-Answer-5{
                            border: 2px solid var(--VeryDark);
                            &:hover,&:focus{
                                outline: 2px dotted var(--VeryDark);
                                outline-offset: 1px;
                            }
                        }
                    }
                }
                
            }
        }
    }
}
